.navbar-component{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0px;
    z-index: 10;
}

.navbar-component .app-bar-box{
    background-color: var(--main-color);
}
.navbar-component .app-bar-box .tool-bar-box{
    justify-content: space-between;
}

.navbar-component .app-bar-box .tool-bar-box a.logo-image{
    width: 150px;
    text-decoration: none;
}

.navbar-component .app-bar-box .tool-bar-box a.logo-image img{
    width: 100%;
    height: auto;
}


.navbar-component .app-bar-box .tool-bar-box .search-box{
    width: 80%;
}

.navbar-component .app-bar-box .tool-bar-box .search-box .MuiInputBase-root {
    width: 100%;
}

.navbar-component .app-bar-box .tool-bar-box .search-box input{
    width: 100%;
}


.navbar-component .app-bar-box .tool-bar-box .btn-upload-post a,
.btn-upload-post-small a{
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    background-color: #fff;
    margin-right: 30px;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.7px;
    border-radius: 3px;
    transition: all .3s;
}

.btn-upload-post-small a{
    margin-right: 0;
    border: 1px solid var(--main-color);
}

.navbar-component .app-bar-box .tool-bar-box .btn-upload-post a:hover{
    box-shadow: 0 0 5px 1px #ffffff9f;
}

.navbar-component .app-bar-box .tool-bar-box button.icon-avatar div{
    font-size: 18px;
}


/* .MuiButtonBase-root .log-uot-div{
    background-color: red;
    width: 100%;
} */

.MuiButtonBase-root {
    background-color: blue;
}