.forgot-password-page{
    width: 100%;
    display: flex;
    justify-content: center;
}

.forgot-password-page .alert-message-success{
    position: absolute;
    top: 50px;
    transition: all .5s;
}
.forgot-password-page .alert-message-success span.success-line{
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: -5px;
    width: 0%;
    height: 2px;
    background-color: green;
    transition: all 6s linear;
}

@media only screen and (max-width:600px){
    .forgot-password-page  .box-container{
        width: 80%;
    }
    .forgot-password-page .alert-message-success{
        font-size: 12px;
    }
}
@media only screen and (max-width:470px){
    .forgot-password-page  .box-container{
        width: 95%;
    }
}

.forgot-password-page form{
    width: 400px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width:770px){
    .forgot-password-page form{
        width: 300px;
    }
}

@media only screen and (max-width:600px){
    .forgot-password-page form{
        width: 100%;
    }
}


.forgot-password-page form .icon svg{
    font-size: 35px;
    color: var(--text-gray-color);
}


.forgot-password-page form h3{
    margin: 10px 0;
}


.forgot-password-page form p{
    margin-bottom: 8px;
}


/* ==================================
    start inputs and button submit
===================================== */
.forgot-password-page form .MuiFormControl-root{
    width: 100%;
    margin: 10px 0;
}


.forgot-password-page form .btn-submit{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.forgot-password-page form button[type="submit"]{
    margin-top: 30px;
    width: 50%;
    background-color: var(--main-color);

}

.forgot-password-page form a{
    color: var(--main-color);
    text-transform: capitalize;
    margin-top: 30px;
    text-decoration: none;
    
}